<% layout('layout/boilerplate') -%>

  <div class="container">

    <div class="container g-1 pb-3">
      <a href="/likelist/new"><button class="btn btn-dark">Add New Like</button></a>
    </div>

    <div class="likescontainer row g-5 align-items-center">
      <% for (let l of likeList) { %>

        <div class="listcard border-bottom col-lg-4 col-md-6 col-sm-12">
          <div class="card-img">
            <a href="/likelist/<%=l.id%>"><img src="<%=l.urlToImage%>" class="card-img-top" alt="like-image"></a>
          </div>

          <div class="row card-box pt-3">
            <div class="col-8">
              <button type="button" class="btn btn-secondary">
                <%=l.category%>
              </button>
            </div>
            <div class="col-4">
              <p class="text-right">
                <%=l.rating%>/5
              </p>
            </div>
          </div>

          <div class="card-body">
            <h3 class="card-title text-truncate"><a href="/likelist/<%=l.id%>">
                <%=l.like%>
              </a></h3>

            <p class="card-text line-clamp-4">
              <%=l.description%>
            </p>
          </div>

          <div class="row card-box">
            <div class="col-4">
              <p class="text-muted text-truncate"><em>
                  <%=l.date%>
                </em></p>
            </div>
            <div class="col-4">
              <a target="_blank" href="<%=l.url%>">Go to Website</a>
            </div>
            <div class="col-4">
              <a href="/likelist/edit/<%=l.id%>">Edit Entry</a>
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </div>