<% layout('layout/boilerplate') -%>

  <div class="container">

    <h2>We Record Stuff That We Likes</h2>
    <form action="/likelist/<%=editLike._id%>?_method=PUT" method="POST" class="row g-3 needs-validation" id="editform" novalidate>

      <div class="col-md-6">
        <label for="validationCustom01" class="form-label">Like</label>
        <input type="text" class="form-control" id="validationCustom01" name="like" value="<%=editLike.like%>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please add your like.
        </div>
      </div>

      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Category</label>

        <select class="form-control" id="validationCustom02" name="category" value=<%=editLike.category%> required>
          <%for (let c of categories) {%>
            <option value="<%=c%>" <%=editLike.category===c ? 'selected' : '' %>><%=c%>
            </option>
            <%}%>
        </select>

        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please indicate category.
        </div>
      </div>

      <div class="col-md-2">
        <label for="validationCustom03" class="form-label">Rating</label>
        <select class="form-control" id="validationCustom03" name="rating" value=<%=editLike.rating%>>
          <%for (let r of ratings) {%>
            <option value="<%=r%>" <%=editLike.rating===r ? 'selected' : '' %>><%=r%>
            </option>
            <%}%>
        </select>

        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please add an image URL.
        </div>
      </div>


      <div class="col-md-12">
        <label for="validationCustom04" class="form-label">Description</label>
        <textarea rows="4" class="form-control" id="validationCustom04" name="description"
          required><%=editLike.description%></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please add your description.
        </div>
      </div>

      <div class="col-md-6">
        <label for="validationCustom05" class="form-label">Website</label>
        <input type="text" class="form-control" id="validationCustom05" name="url" value="<%=editLike.url%>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a website address.
        </div>
      </div>

      <div class="col-md-6">
        <label for="validationCustom06" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="validationCustom06" name="urlToImage"
          value="<%=editLike.urlToImage%>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please add an image URL.
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-2 col-md-6 col-sm-12 mb-3">
          <button class="btn btn-primary me-5" form="editform" type="submit">Submit entry</button>
        </div>
      </form>

        <div class="col-lg-2 col-md-6 col-sm-12 mb-3">
          <form action="/likelist/<%=editLike._id%>?_method=DELETE" id="deleteform" method="POST">
            <button class="btn btn-danger me-5" form="deleteform">Delete entry</button>
          </form>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 mb-3">
          <a class="align-text-top" href="/likelist/<%=editLike.id%>">Back to Entry</a>
        </div>
      </div>


  </div>